$black: #151515;
$purple: #d500f9;
$dark-grey: #242424;
$light-grey: #d9d9d9;
$white: #ffffff;

.black {
  color: $black;
}

.white {
  color: $white;
}

.background_light-grey {
  background-color: $light-grey;
}

.background_dark-grey {
  background-color: $dark-grey;
}

.background_white {
  background-color: $white;
}

.underline {
  text-decoration: underline $purple;
}

.button-underline {
  border-bottom: 1px solid $purple;
}

.link {
  &:hover {
    color: $purple;
  }
}
