$black: #151515;
$green: #4ee1a0;
$dark-grey: #242424;
$light-grey: #d9d9d9;
$white: #ffffff;

.black {
  color: $black;
}

.green {
  color: $green;
}

.dark-grey {
  color: $dark-grey;
}

.light-grey {
  color: $light-grey;
}

.white {
  color: $white;
}

.background_light-grey {
  background-color: $light-grey;
}

.background_dark-grey {
  background-color: $dark-grey;
}

.underline {
  text-decoration: underline $green;
}
