body,
div,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

button {
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
}

ul {
  list-style: none;
}

div,
img {
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration-line: none;
}

main {
  padding: 3rem;
  margin: 3rem;
  gap: 2rem;
  @media (max-width: 768px) {
    margin: 0;
    padding: 1.5rem;
  }
}
