p,
a,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 28;
}

.headingXL {
  font-family: "Space Grotesk", sans-serif;
  font-size: 88px;
  font-weight: 700;
}

.headingL {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.headingM {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 28;
}

.active {
  text-decoration: underline;
}
