p,
a,
h2,
h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
}

.headingXL {
  font-family: "Montserrat";
  font-size: 88px;
  font-weight: 88;
}

.headingL {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 56;
}

.headingM {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 32;
}

.text {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 28;
}

.active {
  text-decoration: underline;
}
