p,
a,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 28;
}

.headingXL {
  font-family: "Space Grotesk", sans-serif;
  font-size: 88px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.headingL {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.headingM {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.name {
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 28;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.active {
  text-decoration: underline;
}
