.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  &_title {
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
}

.zoom {
  width: 100%;
}
