.host {
  justify-content: flex-end;
  &_name {
    align-items: center;
    display: flex;
    color: #ff6060;
    font-weight: 500;
    font-size: 18px;
    justify-content: flex-end;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
